# Repositories
# ------------

create repository matplotlib
end repository

create repository sample_data
end repository

create repository sampledoc
end repository

create repository py4science
end repository

create repository basemap
end repository

create repository mplsizer
end repository

create repository natgrid
end repository

create repository maintenance
end repository

create repository crud
end repository

# Trunks
# ------

match /trunk/matplotlib/
    repository matplotlib
    branch master
end match

match /trunk/sample_data/
    repository sample_data
    branch master
end match

match /trunk/sampledoc_tut/
    repository sampledoc
    branch master
end match

match /trunk/py4science/
    repository py4science
    branch master
end match

match /trunk/toolkits/basemap/
    repository basemap
    branch master
end match

match /trunk/toolkits/mplsizer/
    repository mplsizer
    branch master
end match

match /trunk/toolkits/natgrid/
    repository natgrid
    branch master
end match
        
# Identify other roots; but remove them only in post-processing

match /trunk/([^/]+)/
  repository crud
  branch \1
end match

# or just skip them to begin with

#match /trunk/([^/]+)/
#end match


# Branches
# --------

# Release branches

#match /(branches|tags)/(v[^/]+)/
#    repository matplotlib
#    branch svntags/\2
#end match

match /branches/(v0_91_maint)/
    repository matplotlib
    branch v0.91.x
end match

match /branches/(v0_98_5_maint)/
    repository matplotlib
    branch v0.98.5.x
end match

match /branches/(v0_99_maint)/
    repository matplotlib
    branch v0.99.x
end match

match /branches/(v1_0_maint)/
    repository matplotlib
    branch v1.0.x
end match

match /branches/(transforms)/
    repository matplotlib
    branch transforms
end match

#match /branches/(unit_support)/
#    repository matplotlib
#    branch unit_support
#end match

match /branches/(py3k)/
    repository matplotlib
    branch py3k
end match


# The rest of the branches.
#
# These will be removed in a post-processing step, but are kept here
# for preserving the history relevant for trunk

match /branches/([^/]+)/
    repository crud
    branch \1
end match


# Extraneous root paths
# ---------------------

#match /(numpy.sunperf)/
#    repository numpy
#    branch crud/svnroot/\1
#end match

#match /(cleaned_math_config)/
#    repository numpy
#    branch crud/svnroot/\1
#end match

#match /(numpy-docs)/
#    repository numpy
#    branch crud/svnroot/\1
#end match


# Tags
# ----

# Make SVN tags branches, and convert them to tags in a post-processing step

#match /tags/([0-9]+[^/]+)/
#  repository matplotlib
#  branch svntags/\1
#end match

match /tags/(v[^/]+)/
  repository matplotlib
  branch svntags/\1
end match

# Rest of the tags are crud; but again remove them only in post-processing

match /tags/([^/]+)/
  repository crud
  branch svntags/\1
end match
